
 <div id="infoCarousel" class="carousel slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#infoCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#infoCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#infoCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/images/pexels-wendy-wei-1656664.jpg" class="d-block w-100" alt="img1">
        <div class="carousel-caption d-none d-md-block">
            <h5>Fresh veggies at amazing prices</h5>
          </div>
      </div>
      <div class="carousel-item">
        <img src="assets/images/pexels-mark-stebnicki-2252584.jpg" class="d-block w-100" alt="img2">
        <div class="carousel-caption d-none d-md-block">
            
          </div>
      </div>
      <div class="carousel-item">
        <img src="assets/images/banner-02.jpg" class="d-block w-100" alt="img3">
        <div class="carousel-caption d-none d-md-block">
          </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#infoCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#infoCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>