<section class="h-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <div class="col-lg-12">
                            <div class="card-body p-md-5 mx-md-4">

                                <div class="text-center">
                                    <img src="assets/images/cart.jpg" style="width: 185px;" alt="logo">
                                    <h4 class="mt-1 mb-5 pb-1">Create a new account</h4>
                                </div>

                                <form #log="ngForm" (ngSubmit)="register(log)">
                                    <div class="row">

                                        <div class="form-outline mb-4 col-lg-6">
                                            <label class="form-label" for="firstName">First Name</label>
                                            <input type="text" id="firstName" class="form-control form-control-lg"
                                                required minlength="3" pattern="^[a-zA-Z ]*$" name="firstName" #firstName="ngModel" ngModel />


                                            <div id="invalid1" *ngIf="firstName.touched">
                                                <p style="display: inline" *ngIf="firstName.errors?.['required']">First
                                                    Name
                                                    is required</p>
                                                <p style="display: inline" *ngIf="firstName.errors?.['minlength']">
                                                    Minumum 3
                                                    characters are required</p>
                                                    <p style="display: inline" *ngIf="lastName.errors?.['pattern']">
                                                        Enter alphabets only</p> 
                                            </div>
                                        </div>

                                        <div class="form-outline mb-4 col-lg-6">
                                            <label class="form-label" for="lastName">Last Name</label>
                                            <input type="text" id="lastName" class="form-control form-control-lg"
                                                name="lastName" required pattern="^[a-zA-Z ]*$" minlength="3" #lastName="ngModel" ngModel />



                                            <div id="invalid1" *ngIf="lastName.touched">
                                                <p style="display: inline" *ngIf="lastName.errors?.['required']">Last
                                                    Name
                                                    is required</p>
                                                <p style="display: inline" *ngIf="lastName.errors?.['minlength']">
                                                    Minumum 3
                                                    characters are required</p>
                                                    <p style="display: inline" *ngIf="lastName.errors?.['pattern']">
                                                        Enter alphabets only</p>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-outline mb-4 col-lg-6">
                                            <label class="form-label" for="email">Email</label>
                                            <input type="email" id="email" class="form-control form-control-lg"
                                                pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$" required name="email" 
                                                #email="ngModel" ngModel />


                                            <div id="invalidemail" *ngIf="email.touched">
                                                <p style="display: inline" *ngIf="email.errors?.['required']">Email is
                                                    required</p>
                                                <p style="display: inline" *ngIf="email.errors?.['pattern']">Enter a
                                                    vaild
                                                    email address</p>
                                            </div>

                                        </div>
                                        <div class="form-outline mb-4 col-lg-6">
                                            <label class="form-label" for="phoneNumber">Phone Number</label>
                                            <input type="tel" id="phoneNumber" class="form-control form-control-lg"
                                                 required name="phoneNumber"
                                                #phoneNumber="ngModel" ngModel />


                                            <div id="invalid1" *ngIf="phoneNumber.touched">
                                                <p style="display: inline" *ngIf="phoneNumber.errors?.['required']">
                                                    Phone
                                                    number is required</p>
                                                <p style="display: inline" *ngIf="phoneNumber.errors?.['pattern']">Enter
                                                    a
                                                    vaild phone number</p>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-outline mb-4 col-lg-6">
                                            <label class="form-label" for="epassword">Password</label>
                                            <input type="password" id="epassword" class="form-control form-control-lg"
                                                required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$"
                                                name="epassword" #epassword="ngModel" ngModel />


                                            <div id="invalid1" *ngIf="epassword.touched">
                                                <p style="display: inline" *ngIf="epassword.errors?.['required']">
                                                    Password
                                                    is required</p>
                                                <p style="display: inline" *ngIf="epassword.errors?.['pattern']">Enter a
                                                    valid password</p>
                                            </div>

                                        </div>
                                        <div class="form-outline mb-4 col-lg-6">
                                            <label class="form-label" for="cpassword">Confirm Password</label>
                                            <input type="password" id="cpassword" class="form-control form-control-lg"
                                                required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$"
                                                name="cpassword" #cpassword="ngModel" ngModel />


                                            <div id="invalid1" *ngIf="cpassword.touched">
                                                <p style="display: inline" *ngIf="cpassword.errors?.['required']">
                                                    Password
                                                    is required</p>
                                                <p style="display: inline" *ngIf="cpassword.errors?.['pattern']">Enter a
                                                    valid password</p>
                                            </div>
                                            <div id="invalidcpass"></div>

                                        </div>
                                    </div>

                                    <div class="text-center pt-1 mb-5 pb-1">
                                        <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3"
                                            type="submit" [disabled]="log.invalid">Register</button><br>
                                        <!--  <a class="text-muted" href="#!">Forgot password?</a> -->
                                        <div id="result"></div>
                                        <div id="invalidcpass"></div>
                                    </div>

                                </form>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>