<nav>
<ul class="nav nav-tabs" id="tabul">
    <li class="nav-item">
      <a class="nav-link navitem"  routerLink="/admin/all-products" routerLinkActive="Active">All products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link navitem" routerLink="/admin/add-products" routerLinkActive="Active">Add product</a>
    </li>
    <li class="nav-item">
      <a class="nav-link navitem" routerLink="/admin/update-products" routerLinkActive="Active">Update product</a>
    </li>
    <li class="nav-item">
      <a class="nav-link navitem" routerLink="/admin/delete-products" routerLinkActive="Active">Delete product</a>
    </li>
    <li class="nav-item">
      <a class="nav-link navitem" routerLink="/admin/reports" routerLinkActive="Active">Reports</a>
    </li>
  </ul>
</nav>